<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />
        
        <activity
            android:name=".AddRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        
        <activity
            android:name=".ChartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>